@font-face {
  font-family: "APL385 Unicode";
  src: url("https://github.com/rikedyp/APLcourse/raw/master/assets/Apl385.ttf");
  font-weight: normal;
  font-style: normal;
}
.apl{
  font-family: 'APL385 Unicode';
  line-height: 2.4ex;	
  white-space: pre-wrap;
  font-size: 1.2em;
}
